@font-face {
  font-family: 'Glass TTY VT220';
  src: url('../fonts/Glass_TTY_VT220.eot');
  src: url('../fonts/Glass_TTY_VT220.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Glass_TTY_VT220.woff2') format('woff2'),
    url('../fonts/Glass_TTY_VT220.woff') format('woff'),
    url('../fonts/Glass_TTY_VT220.ttf') format('truetype'),
    url('../fonts/Glass_TTY_VT220.svg#Glass_TTY_VT220') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* CSS variables so we can make an accessbility/readability switch. */
:root {
  --site-dark: #131517;
  --site-red: #5C0000;
  --site-background: radial-gradient(ellipse at center, var(--site-dark) 70%, var(--site-red) 100%);
  --site-background-moz: -moz-radial-gradient(center, var(--site-dark) 0%, var(--site-red) 100%);
  --site-background-webkit: -webkit-radial-gradient(center, var(--site-dark) 0%, var(--site-red) 100%);
  --body-text-color: #EEFFEE;
  --neon-red-color-1: #ffb2b2;
  --neon-red-color-2: #ff4d4d;
  --neon-red-color-3: #fb0000;
  --neon-red-text-shadow: 0 0 3px var(--neon-red-color-1), 0 0 10px var(--neon-red-color-2), 0 0 20px var(--neon-red-color-3), 0 0 30px #f50000;
  --retro-font: Glass TTY VT220;
}

body {
  font-family: var(--retro-font);
  background: var(--site-background-moz);
  background: var(--site-background-webkit);
  background: var(--site-background);
}

body, a, p, span {
  color: var(--body-text-color);
}

a:hover {
  color: var(--neon-red-color-1);
  text-shadow: 0 0 3px var(--neon-red-color-1), 0 0 10px var(--neon-red-color-2), 0 0 20px var(--neon-red-color-3), 0 0 30px #f50000;
}

.neonglow {
  color: var(--neon-red-color-1);
  text-shadow: 0 0 3px var(--neon-red-color-1), 0 0 10px var(--neon-red-color-2), 0 0 20px var(--neon-red-color-3), 0 0 30px #f50000;
}

.bg-site-dark {
  background: var(--site-dark);
}

a.active-link {
  color: var(--neon-red-color-1);
  text-shadow: 0 0 3px var(--neon-red-color-1), 0 0 10px var(--neon-red-color-2), 0 0 20px var(--neon-red-color-3), 0 0 30px #f50000;
}

.fs-7 {
  font-size: .9em;
}

.mobile-nav {
  border-top: 1px solid var(--neon-red-color-3);
  border-bottom: 1px solid var(--neon-red-color-3);
}

#mobile-nav {
  z-index: 9;
}

div .words {
  font-weight: bold;
  height: 80px;
  padding: 6px 12px 6px 12px;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  line-height: 1.6em;
}

@media (min-width: 768px) {
  div .words {
    height: 130px;
  }
}

.words-card {
  border-image-source: linear-gradient(to bottom, #dc3545, #f8f9fa 72%) !important;
  border-image-slice: 1;
  border-width: 3px;
  background: 0 0;
  box-shadow: none;
  padding: 20px;
}

#typingInput {
  border-radius: 8px;
  border: 3px solid #890a02;
  height: 40px;
  margin: 10px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px #ffffff;
  box-shadow: 5px 5px 15px 0px #ffffff;
  border: 1px solid #131517;
}

#typingInput:focus {
  outline: none;
  -webkit-box-shadow: 5px 5px 15px 5px #beb2ff;
  box-shadow: 5px 5px 15px 0px #beb2ff;
  border: #beb2ff 2px solid;
}

.highlight {
  color: #beb2ff;
  text-shadow: 0 0 3px #beb2ff, 0 0 10px #584dff, 0 0 20px #1b00fb, 0 0 30px #1b00fb;
  text-decoration: underline;
}

.correct {
  color: #b2ffb4;
  text-shadow: 0 0 3px #b2ffb4, 0 0 10px #4dff52, 0 0 12px #00fb08, 0 0 15px #00f513;
  -webkit-text-shadow: 0px 0px 7px 0px rgba(17, 17, 17, .3);
  -moz-text-shadow: 0px 0px 7px 0px rgba(17, 17, 17, .3);
}

.incorrect {
  color: #ffb2b2;
  text-shadow: 0 0 3px #ffb2b2, 0 0 10px #ff4d4d, 0 0 20px #fb0000, 0 0 30px #f50000;
}

div#results {
  -webkit-box-shadow: 5px 5px 15px 5px #ffffff;
  box-shadow: 5px 5px 15px 5px #ffffff;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.form-check-input:focus {
  border-color: var(--neon-red-color-1) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%) !important;
}

.form-switch .form-check-input:checked {
  background-color: var(--neon-red-color-3) !important;
  border-color: var(--neon-red-color-1) !important;
}
